body{
    background-color: blueviolet;
    
}

.top-header-section h1 p{
    color: white;
}
.top-header-section img{
    border-radius: 20px;

}


.collapse{
    background-color: blueviolet;
    color: white;
}
.nav-link {
    color: white;
}

a{
    color: white;
}

.nav-link:hover{
    color: white;
}

.first-row-section{
    height:500px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card{
    border-radius: 10px;
    color: blueviolet;
}
.carousel-item img{
    height: 500px;
    border-radius: 10px;
}


.profile{
    text-align: center;
    border-color: lightgray;
    border:1px;
}

.profile img{
    border-radius: 50%;
    height: 130px;
    width: 100px;
}
.profile h2 p{
    color: black;
    padding:5px ;
}


.card img{
    border-radius: 10px;

}

.card{
    border:none;
    margin-bottom: 10px;
}



.icons {
    display: flex;
    gap: 40px;
  }
  
  .icons a {
    text-decoration: none;
  }
  
  .icons a svg {
    fill: #d0ecf7;
    transform: scale(1.5);
  }


.third-row-section{
    color: white;
    height: 320px;
}
.third-row-section img{
    height: 260px;
    border-radius: 10px;
}






@import "http://nyplintranet-training.appspot.com/css/themes/nypl/main.css";
/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}






.fa{
    padding: 20px;
    height: 50px;
    width: 65px;
    background-color: rgb(243, 242, 245);
    color: rgb(89, 35, 238);
    border-radius: 50%;;
    text-align: center;
}


.fa:hover{
    background-color: rgb(140, 184, 235);
    color: rgb(243, 243, 247);
}

.social-media .row{
    margin: 10px;
}

.social-media .col{
    margin: 10px;
}





.footer{
    margin-top: 20px;
}
.container{
    border: 1px lightgray;
}















hr{
    color: white;
    background-color: white;
    border-top: 2px white;
}





.footer{
    text-align: center;
    background-color: blueviolet;
    color: white;
    padding-top: 5px;
}















